html,
body {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.default_nav {
  margin: 0 auto;
  width: 100%;
}

/* 首页 */

.index {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 100%;
  background-color: #527bcd;
  background-image: url('../img/bg_index.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

.index h1 {
  margin-top: 10rem;
  line-height: 3.333333rem;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
}

.index p {
  line-height: 1.5rem;
  font-size: .916667rem;
  color: #fff;
}

.index ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-top: 2.916667rem;
  width: 94%;
}

.index li {
  float: left;
  width: 44%;
  margin: 0 3% 1.5rem 3%;
}

.index li a {
  display: block;
  width: 100%;
  height: auto !important;
  height: 13.333333rem;
  min-height: 13.333333rem;
  border-radius: .5rem;
  background: #fff;
  box-shadow: 0 0 2rem rgba(19, 76, 158, .5);
  overflow: hidden;
  user-select: none;
  background-repeat: no-repeat;
  background-position: center 2rem;
  background-size: 40%;
  position: relative;
}

.ripple {
  position: absolute;
  background: rgba(0, 0, 0, .15);
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none;
}

.ripple.show {
  animation: ripple .75s ease-out;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.index li span {
  display: block;
  margin-top: 8.333333rem;
  line-height: 2.5rem;
  font-size: 1.25rem;
  color: #3e4a54;
}

.index li s {
  display: block;
  margin: 0 auto;
  width: 3rem;
  height: 1rem;
  line-height: 1rem;
  border: solid 1px #c5c8cb;
  border-radius: 1rem;
  font-size: .916667rem;
  color: #aab0b4;
  text-decoration: none;
}