/*
	Reset Stylesheet (Eric Wen Reset Reloaded + HTML5 baseline)
	2017-05-17 | Authors:Eric Wen
*/

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
menu {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
.nob {
  border: 0 !important;
  vertical-align: middle;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-size: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-user-modify: read-write-plaintext-only;
}

input {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

legend {
  color: #000;
}

a {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  outline: none;
}

img {
  -webkit-touch-callout: none;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}